/*global*/
*{
    margin:1;
    padding:1;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
/*utilities*/
.btn{
    display: block;
    width:180px;
    background-color:blueviolet;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top:10px;
    padding:20px;
}
.container{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
}
.main-flex{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
/*header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size:cover;
    height: 400px;
    text-align: center;
    color:white;
}
/*main*/
main{
    width:60%;
    margin-right: 20px;
}
/**blog*/
.blog-container{
    margin-top:20px;
}
.blog-container h3{
    margin-top: 20px;
}

.blog-container p{
    margin-top: 20px;
}
.blog-container .btn{
    background-color: black;
}